html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

#name {
  color: #ff8c00;
  font-weight: 900;
  /*text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);*/
  /* -webkit-text-stroke: 0.1px rgb(0, 0, 0); Border */
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffdf8d;
  gap: 10px;
  padding: 2px 2px;
  flex-shrink: 0; /* Prevents shrinking of the nav-bar */
}

#nav-bar-left {
  display: flex; /* Groups logo and name together */
  align-items: center;
  gap: 10px; /* Adds space between the logo and name */
}

form {
  display: flex; /* Groups logo and name together */
  align-items: center;
  gap: 10px; /* Adds space between the logo and name */
  padding-right: 10px;
}

#nb-logo {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.nb-name {
  font-size: 30px;
}

#drop-down {
  border: solid 3px #ff8c00;
  border-radius: 10px;
}

#drop-down:focus {
  box-shadow: 0 0 8px rgb(255, 67, 67);
  outline: none;
}

#search-bar {
  padding: 0.375rem 0.75rem;
  background-color: white;
  border: solid 3px #ff8c00;
  border-radius: 10px;
}

#search-bar:focus {
  box-shadow: 0 0 8px rgb(255, 67, 67);
  outline: none;
}

#button {
  padding: 0.375rem 0.75rem;
  border-radius: 10px;
  /*background-color: #72bf78;*/
  background-color: #72bf78;
  color: white;
  outline: none;
  border: none;
}

#button:hover {
  background-color: #2ca8a0;
  box-shadow: 0 0 12px rgb(113, 229, 154);
}

#button:active {
  background-color: #176b87;
  box-shadow: 0 0 12px rgb(113, 229, 154);
}

#main-container {
  display: flex;
  flex: 1; /* Takes up all available space between nav-bar and footer */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bg-img.jpg");
  background-size: cover; /* Optional: To ensure the image covers the container */
  background-repeat: no-repeat;
  height: calc(100vh - 103px);
}

#inner-container-author-data {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 75px 80px 548px;
  height: 650px;
  width: 1150px;
  gap: 10px;
  background-image: url("/images/black-board.png");
  background-size: 100% 100%;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: white;
}

#inner-author {
  margin-top: 31px;
  margin-left: 34px;
  padding-bottom: 10px;
  grid-column: span 3;
  grid-row: 1;
  text-align: center;
  width: 1082px;
  border-bottom: 3px double white;
}

#inner-details-title {
  margin-left: 34px;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

#inner-details-year {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

#inner-details-ratings {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
  margin-right: 34px;
}

#inner-title {
  grid-column: 1;
  grid-row: 3;
  margin-left: 34px;
}

#inner-year {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

#inner-rating {
  grid-column: 3;
  grid-row: 3;
  margin-right: 34px;
  text-align: center;
}

.inner-col {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lst-element {
  margin-bottom: 35px;
}

.lst-element:last-child {
  margin-bottom: 0px;
}

#inner-container-title-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url("/images/open-book.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 750px;
  width: 1150px;
  gap: 30px;
}

#inner-left {
  padding-top: 55px;
  padding-left: 165px;
  align-items: flex-start;
  font-size: 25px;
  width: 575px;
}

#inner-right {
  padding-top: 55px;
  align-items: flex-start;
  font-size: 25px;
  width: 400px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-element {
  margin-bottom: 70px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.list-element:last-child {
  margin-bottom: 0px;
}

#inner-container-wo-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: calc(100vh - 200px);
  width: 75vh;
  background-image: url("/images/trailing-bee.png");
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-color: #eeeeec;
  border-radius: 25px;
  box-shadow: 0 0 18px rgb(255, 67, 67);
  transition: transform 0.5s ease-in-out;
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
}

#inner-container-wo-data:hover {
  transform: scale(1.1);
}

#foot {
  flex-shrink: 0; /* Keeps the footer fixed at the bottom */
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #ffdf8d;
  font-size: 19px;
}
